*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php.dist
!/app/etc/env.php.dist
!/app/etc/env_integration.php.dist
!/app/etc/env_staging.php.dist
!/app/i18n/**
!/auth.json
!/git-changed.sh
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
!/.gitlab-ci.yml
!/pub
!/veslicense
!/var
!/n98-magerun2.phar
!/web
!/pub/media/insider-sw-sdk.js
!/magepack.config.js
!/package.json
!/criticalCss
!/criticalCss/html/
!/criticalCss/Gruntfile.js
!/criticalCss/package.json
!/criticalCss/package-lock.json
!/criticalCss/README.md
!/pub/adminer.php
!/pub/errors
!/pub/errors/*/
!/pub/errors/default/503.phtml
!/pub/errors/default/images
!/pub/errors/default/images/banner.svg
!/pub/errors/default/css
!/pub/errors/default/css/*
!/pub/media
!/pub/media/*/
!/pub/media/bannerslider
!/pub/media/bannerslider/**
!/pub/media/etrend
!/pub/media/etrend/**
!/pub/media/language
!/pub/media/language/**
