<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nhp" sortOrder="1" translate="label">
            <label>NHP Integration</label>
        </tab>
        <section id="import" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Import Configuration</label>
            <tab>nhp</tab>
            <resource>NHP_Base::import</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="url_path" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text" canRestore="1">
                    <label>Url Path</label>
                    <comment>Enter domain to get product images. Ex: https://butywolka24.eu/pub/media/catalog/product/cache/19d4e819f05f80a93108f33f97eed5f0</comment>
                </field>
            </group>
        </section>
    </system>
</config>
